<div class="uk-container uk-align-center uk-text-center">
    <h1 class="uk-text-center">Devour A Burger!</h1>

    <img src="https://media.giphy.com/media/l2SpNLZQSlENDKAkU/giphy.gif" style="width:200px;height:200px;">

    <h2>Add a Burger</h2>

    <div class="uk-container">
        <form class="create">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Enter a burger here and click Submit</legend>

                <div class="uk-margin">
                    <textarea id="burgerInput" class="uk-textarea uk-form-width-large" rows="5" type="text" placeholder="Your Burger Name"></textarea>
                </div>

            </fieldset>
            <br>
            <button id="submitBtn" class="uk-button uk-button-primary uk-button-large">Submit</button>
            <br><br>
        </form>

    </div>


    <h2>You got a burger!</h2>
    {{!-- display only when devoured is false --}}
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <p>{{this.id}}. {{this.burger_name}}
            <button data-id="{{this.id}}" class="devoured uk-button uk-button-primary uk-button-small">Devoured</button>
        </p>
        {{/unless}}
        {{/each}}
    </ul>



    <h2>Burger is gone!</h2>
    {{!-- display only when devoured is true --}}
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <p>{{this.id}}. {{this.burger_name}}</p>
        {{/if}}
        {{/each}}
    </ul>

    <div></div>

    <footer class="footer">
        <div class="uk-container">
            <a href="/api/burgers">API Burgers List</a> 
            <span> | </span>
            <a href="https://github.com/lalatw/burger">GitHub Repo</a>
        </div>
    </footer>
    <div class="uk-margin"></div>

</div>